
html{
    --main-font: 'Bungee', cursive;
    --secondary-font:'Roboto', sans-serif;
    margin:0;
    padding:0;
}


.main_section{
    background-image: url(mars2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    height:1515px;
    width: 1000px;
    z-index: -1;
}


h1{
    color:#FFFFFF;
    font-family: var(--main-font);
}

h3{
    margin:0;
}

.calendar_date{
    color: #dc916b; 
    font-size: 1.6rem;
    position: absolute;
    right:40px;
    top: 40px;  
    font-family: var(--secondary-font);
}

.sol_day{
    text-align: center;
    font-size:6.2rem;
    margin: 260px 20px 240px 20px;
}

p:nth-child(2){
    margin-top: 25px;
}

.temp_message{
    color: #FFFFFF;
    text-align: center;
    font-size:2.8rem;
    background-color: rgba(134, 105, 91, 0.75);
    width:730px;
    line-height: 2;
    border-radius: 55px;
    font-family: var(--secondary-font);
    margin: 0 auto 0 auto;
}

.temp_button_wrapper{
    text-align: center;
    margin: 55px auto 20px auto;
    background-color: #FFFFFF;
    width: 240px;
    border-radius: 45px;
    height:45px;
    display:table;
}

.temp_button{
    text-decoration: none;
    font-size:1.7rem;
    color:#dc916b;
    font-family: var(--secondary-font);
    display: table-cell;
    vertical-align: middle;
}


.temp_button_wrapper:hover{
    background-color: #34c3eb;
}

.temp_button:hover{
    color: #FFFFFF;
}

.explaination{
    color:#b5584c; /* #dc916b;*/
    font-size:1.1rem;
    line-height: 2;
    font-family: var(--main-font);
    text-indent: 62px;
}

.explaination:nth-child(1){
    margin:170px 90px 22px 90px;
}

.explaination:nth-child(2){
    margin:0px 90px 170px 90px;
}

.nasa_link:hover{
    color: #34c3eb;
}

.footer{
    width:100%;
    height:330px;
    background-color:#dc916b;    /*   #41372c;    #dc916b;    */
}

.credits{
    font-family: var(--secondary-font);
    color: #FFFFFF;
    font-size:2rem;
    letter-spacing: 18px;
    text-align: center;
    padding: 150px 15px 10px 15px;
}




@media only screen and (min-device-width : 600px) and (max-device-width : 768px)   {
     body{
        width: 1200px;
        margin: 0 auto;
    }

    .main_section{
        width: 100%;
        height:1050px;
        margin:auto;
        padding:0;
    }

    .calendar_date{ 
       font-size: 1.2rem;
       right:-170px;
    }
 
    .sol_day{
        font-size:95px;
        letter-spacing: 4px;
        margin: 180px 20px 180px 20px;
    }

    .temp_message{
        font-size:1.8rem;
        width:530px;
    }

    .explaination{
        font-size:1.8rem;
    }
    
    .credits{
        font-size:1.5rem;
        margin: 210px 90px 0px 90px;
    }
    
}

@media only screen and (min-device-width : 769px)    {
    body{
        width: 100%px;
        margin: 0 auto;
    }
    
    .main_section{
        width: 100%;
        height:750px;
        margin:auto;
        padding:0;
    }

    .calendar_date{ 
        font-size: 1rem;
        right:40px;
    }

    .sol_day{
        font-size:3rem;
        letter-spacing: 14px;
        margin: 160px 20px 180px 20px;
    }      
    
    .temp_message{
        font-size:1.2rem;
        width:430px;
        letter-spacing: 4px
    }
    
    .temp_button{
        font-size:.9rem;
      ;
    }

    .temp_button_wrapper{
        text-align: center;
        margin: 50px auto 20px auto;
        background-color: #FFFFFF;
        width: 115px;
        border-radius: 45px;
        height:25px;
    }

    .explaination{
        font-size:1.1rem;
        padding-right: 300px;
        padding-left: 300px;
        line-height: 3;
    }

    .explaination:nth-child(1){
        margin:140px 0 30px 0;
    }

    .explaination:nth-child(2){
        margin:0px 0 140px 0;;
    }


    
    .credits{
        font-size:.9rem;
        letter-spacing: 17px;
        padding:85px 0 0 0;
    }

    .footer{
        height:180px;
    }

   


}
        

